body  {
    color:aqua;
    background: rgb(121, 209, 221); 
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(96, 175, 189)
    padding: 20px;
    font-size: 32px;
    color: 
}

.chamada {
    background:rgb(8, 153, 189)
    padding-bottom: 80px
    padding-top: 80px;
    display: flex;
    justify-content: center;
  } 
  
.chamada-texto { 
    margin-right: 5%;
}

h1 {
    fon-size: 40px;
}

p {
    font-size: 40px
}

footer {
     background-color: rgb(20, 20, 17);
     color: #a6c2a2;
     bottom:0;
     position:fixed;
     width:100%;

}

footer p{
    text-align: center;
    font-size: 14px;
    margin-top:3px;

}