body  {
    color: aliceblue;
    background: rgb(136, 136, 238);
    margin: 0px;

}

header {
    border-bottom: solid 2px rgb(234, 248, 250);
    padding: 20px;
    font-size: 32px;
    color: rgb(148, 231, 231);
}
    
.chamada {
    background: rgb(26, 5, 5);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  } 
  
.chamada-texto { 
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

footer {
     background-color: aquamarine;
     color: azure;
     bottom: 0;
     position: fixed;
     width: 100%;

}

footer p{
    text-align: center;
    font-size: 14px;
    margin-top: 3px;

}