body  {
    color:aqua;
    background: rgb(88, 158, 216); 
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(26, 141, 141)
    padding: 20px;
    font-size: 32px;
    color: 
}

.chamada {
    background:rgb(85, 160, 24)
    padding-bottom: 80px
    padding-top: 80px;
    display: flex;
    justify-content: center;
  } 
  
.chamada-texto { 
    margin-right: 5%;
}

h1 {
    fon-size: 40px;
}

p {
    font-size: 40px
}

footer {
     background-color: rgb(228, 170, 13);
     color: #7fc5d6;
     bottom:0;
     position:fixed;
     width:100%;

}

footer p{
    text-align: center;
    font-size: 14px;
    margun-top:3px;

}